:root {
  --main-branding-color: #ffe3e1;
  --second-color: grey;
  --add-color: white;
}
header {
  margin-top: -30px;
}
.App a {
  text-decoration: none;
}

.container {
  max-width: 960px;
}

.App-footer {
  margin: 30px 0;
}
